input {
  border: none;
  width: 100%;
  color: #999;
  padding: 3px;
}

.form-label {
  width: 120px;
}

.form-group {
  margin-bottom: 10px;
}

.alert {
  padding: 8px;
  margin-top: 5px;
  text-align: center;
  border: none;
  border-radius: 2px;
  font-size: 12px;
}

.alert-danger {
  color: red;
}