form {
  margin-left: 20px;
  width: 600px;
  border-radius: 5px;
  background-color: #ddd;
  padding: 20px 30px;
}

form, .btn {
  font-size: 14px;
}

.btn {
  margin-top: 20px;
}

app-dynamic-form-field {
  width: 500px;
  margin: 10px 0;
}